/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Lato', sans-serif;
    background-image: url('images/background.png');
    background-position: top;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
